body{
    color: #000000;
    font-family: Quicksand, Verdana, 'Times New Roman';
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.bg{
  background: url("../images/bg.jpg"), #f1f1f1;
  background-size: cover;
  padding: 10px;
  }
h1{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding: 15px;
    font-family: Quicksand;
}
h2{
    font-size: 14px;
    text-align: left;
    margin: 0 35px 0 35px;
}
p{
    font-size: 12px;
    text-align: left;
    margin: 0 35px 10px 35px;
}
/* p:hover:nth-child(3n){
    font-size: 15px;
    font-weight: bold;
    color: darkslateblue;
} */

.container {
    height: auto;
    width: 350px;
    position: relative;
    display: inline-block;
    border: solid 16px white;
  }
.container img{
    display: block;
    width: 350px;
    height: auto;
    position: relative;
    border: solid 8px white;
    margin: 2px;
  }

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(1, 1, 70);
  }
.container:hover .overlay {
    opacity: 0.7;
  }

.containerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerFlex img{
  width: 350px;
  height: auto;
  border: solid 10px white;
  border-radius: 10px;
  margin: 2px;
}


.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
nav{
  background-color: white;
  margin: 0 20px 0 20px;
  overflow: hidden;
}
nav li{
  color: #f2f2f2;
  vertical-align: middle;
  opacity: 0.9;
  text-align: center;
  padding: 8px 10px;
}
nav li a{
    display: block;
    color: navy;
    padding: 5px;
    height: 30px;
    border-radius: 15px;
    font-style: italic;
    text-decoration: underline;
    /* margin-left: 35px; */
  }
    
nav li a.current{
    color: white;
    background: navy;
    font-style: normal;
  }


  @keyframes example {
    from {
    width: 400px;
    opacity: 0;
    }
    to {
    width: 1150px;
    opacity: 1;
    }
 }
    
 img[src = "images/landscape-1.jpg"] {
    animation-name: example;
    animation-duration: 10s; 
    animation-iteration-count: 1;
}

@media screen and (prefers-reduced-motion: reduce){
  img[src = "images/landscape-1.jpg"] {
      animation: none;
  }
  .intro{
    background-attachment: initial;
  }
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus, .flip-card-front, .flip-card-back {
    transform: rotateX(0deg);
  }
}   

img[src = "images/landscape-1.jpg"]{
  width:1150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.intro{
  background-image: url("../images/parallax.jpg");
  min-height: 500px;
  margin: 30px;
  padding: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #707070;

}


form label{
  font-weight: bold
}
fieldset label, input, textarea{
  display: block;
  justify-items: center;
  margin: 0 35px 10px 35px;
  width: 400px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  row-gap: 20px;
}
.grid img{
  width: 100%;
  height: auto;
 }


.cheetah-text{
  grid-column: 3 / span 1;
  grid-row: 9 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.cubs-text{
  grid-column: 3 / span 1;
  grid-row: 10 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.tiger-text{
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.tiger-image{
  grid-column: 1/ -1;
  grid-row: 1 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.lion-text{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
 }
.lion-image{
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  max-height: 500px;
  overflow: hidden;
 }
 .giraffe-text{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.giraffe-image{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.heron-text{
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
 .heron-image{
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.catcher-text{
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.catcher-image{
  grid-column: 1/-1;
  grid-row: 5 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.anhinga-text{
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
 }
.anhinga-image{
  grid-column: 1 / -1;
  grid-row: 6 / span 1;
  max-height: 500px;
  overflow: hidden;
 }
 .turtle-text{
   grid-column: 3 / span 1;
   grid-row: 7 / span 1;
   background-color: rgb(1, 1, 70);
   opacity: 0.7;
   max-height: 500px;
   color: white;
   font-size: 18px;
 }

.turtle-image{
  grid-column: 1 / -1;
  grid-row: 7 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.gator-text{
  grid-column: 3 / span 1;
  grid-row: 8 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
 .gator-image{
  grid-column: 1 / -1;
  grid-row: 8 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.cheetah-image{
  grid-column: 1/-1;
  grid-row: 9 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.cubs-image{
  grid-column: 1 / -1;
  grid-row: 10 / span 1;
  max-height: 500px;
  overflow: hidden;
 }


.flip-card {
  position: center;
  background-color: transparent;
  width: 1000px;
  height: auto;
  margin: 30px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 1000px;
  height: auto;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 1000px;
  height: auto;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the back side */
.flip-card-back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: navy;
  padding: 10px;
  color: white;
  transform: rotateY(180deg);
}

/* tablet view */
@media screen and (min-width: 750px){
p{
    font-size: 15px;
    text-align: left;
    margin: 0 35px 10px 35px;
}
h2{
  font-size: 18px;
  text-align: left;
  margin: 0 35px 0 35px;
}
/* nav changes */
nav{
  background-color: white;
  margin: 0 35px 0 35px;
  overflow: hidden;
}
nav li{
  float: left;
  color: skyblue;
  text-align: center;
  border-radius: 0px;
  padding: 10px 12px;
  
}
nav li a{
  text-decoration: none;
    color: navy;
    font-style: italic;
    font-weight: bold;
    margin-left: 20x;
  }
    
nav li a:focus{
    color: white;
    background-color: navy;
    font-style: italic;

    
  }
nav li a.current{
    color: white;
    background: skyblue;
    font-style: normal;
    border-radius: 0px;
  }
 nav li a:active {
    color: rgb(183, 0, 255);
  }
/* grid  changes */
.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 20px;
  column-gap: 15px;
}
.grid img{
  width: 100%;
  height: 100%;
 }
 .cheetah-image{
  grid-column: 4 / span 2;
  grid-row: 9 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.cheetah-text{
  grid-column: 5 / span 1;
  grid-row: 10 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.cubs-image{
  grid-column: 2 / span 2;
  grid-row: 9 / span 2;
  max-height: 400px;
  overflow: hidden;
 }
.cubs-text{
  grid-column: 3 / span 1;
  grid-row: 10 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.tiger-text{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.tiger-image{
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.lion-text{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
 }
.lion-image{
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  max-height: 400px;
  overflow: hidden;
 }
 .giraffe-text{
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.giraffe-image{
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.heron-text{
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
 .heron-image{
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.catcher-text{
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.catcher-image{
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.anhinga-text{
  grid-column: 5 / span 1;
  grid-row: 6 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
 }
.anhinga-image{
  grid-column: 4 / span 2;
  grid-row: 5 / span 2;
  max-height: 400px;
  overflow: hidden;
 }
 .turtle-text{
  grid-column: 3 / span 1;
  grid-row: 8 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
 }

.turtle-image{
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  max-height: 400px;
  overflow: hidden;
}
.gator-text{
  grid-column: 5 / span 1;
  grid-row: 8 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 500px;
  color: white;
  font-size: 20px;
  text-align: center;
}
 .gator-image{
  grid-column: 4 / span 2;
  grid-row: 7 / span 2;
  max-height: 400px;
  overflow: hidden;
}

/* flex changes */
.containerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.containerFlex img{
  width: 380px;
  height: auto;
  border: dashed 5px skyblue;
  margin: 10px;
  opacity: 0.9;
  
}

}

/* desktop view */
@media screen and (min-width: 1000px){
p{
    font-size: 18px;
    text-align: left;
    margin: 0 35px 10px 35px;
}
h2{
  font-size: 22px;
  text-align: left;
  margin: 0 35px 0 35px;
}
/* nav changes */
nav{
  background-color: rgb(182, 178, 240);
  padding-left: 20%;
  padding-right: 15%;
  margin: 0 35px 0 35px;
  overflow: hidden;
  align-items: center;
}
nav li{
  float: left;
  color: #f2f2f2;
  text-align: center;
   padding: 14px 16px;
}
nav li a{
    color: navy;
    font-style: italic;
    text-decoration: underline;
    margin: auto;

  }
    
nav li a:hover{
    color: white;
    background-color: navy;
    font-style: italic;
    border-radius: 0px;
  }
nav li a.current{
    color: white;
    background: navy;
    font-style: normal;
  }
 nav li a:active {
    color: rgb(183, 0, 255);
  }
/* grid  changes */
.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 26px;
  column-gap: 22px;
  
}
.grid img{
  width: 100%;
  height: 100%;
 }
 .cheetah-image{
  grid-column: 4 / span 2;
  grid-row: 9 / span 2;
  max-height: 600px;
  overflow: hidden;
}

.cheetah-text{
  grid-column: 4 / span 2;
  grid-row: 9 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}

.cheetah-text:hover{
  grid-column: 4 / span 2;
  grid-row: 9 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}

.cubs-image{
  grid-column: 2 / span 2;
  grid-row: 9 / span 2;
  max-height: 600px;
  overflow: hidden;
 }
.cubs-text{
  grid-column: 2 / span 2;
  grid-row: 9 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;
}
.cubs-text:hover{
  grid-column: 2 / span 2;
  grid-row: 9 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}

.tiger-text{
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
}
.tiger-image{
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.tiger-text:hover{
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
.lion-text{
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
 }
.lion-image{
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  max-height: 600px;
  overflow: hidden;
 }
 .lion-text:hover{
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
 .giraffe-text{
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
}
.giraffe-image{
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.giraffe-text:hover{
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
.heron-text{
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;;
}
 .heron-image{
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.heron-text:hover{
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
.catcher-text{
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
}
.catcher-image{
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.catcher-text:hover{
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
.anhinga-text{
  grid-column: 4 / span 2;
  grid-row: 5 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
 }
.anhinga-image{
  grid-column: 4 / span 2;
  grid-row: 5 / span 2;
  max-height: 600px;
  overflow: hidden;
 }
 .anhinga-text:hover{
  grid-column: 4 / span 2;
  grid-row: 5 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
 .turtle-text{
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
 }

.turtle-image{
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.turtle-text:hover{
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
.gator-text{
  grid-column: 4 / span 2;
  grid-row: 7 / span 2;
  background-color: rgb(1, 1, 70);
  opacity: 0.8;
  max-height: 600px;
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 25%;;
}
 .gator-image{
  grid-column: 4 / span 2;
  grid-row: 7 / span 2;
  max-height: 600px;
  overflow: hidden;
}
.gator-text:hover{
  grid-column: 4 / span 2;
  grid-row: 7 / span 2;
  background-color: transparent;
  opacity: 0.7;
  max-height: 600px;
  color: transparent;
  font-size: 34px;
  text-align: center;
  padding-top: 25%
}
/* flex changes */
.containerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.containerFlex img{
  width: 500px;
  height: auto;
  border: none;
  margin: 20px;
  opacity: .6;
  border-radius: 0px;
  
}
.containerFlex img:hover{
  opacity: 1;

}
}